#project-container {
    background: url("http://www.eastinnovation.com/wp-content/uploads/2016/09/bg-black-1.png");
    background-size: cover;
    background-position: top center;
    color: white;
    min-width: 450px;
    width: 100%;
    position: relative;
    z-index: 2;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.5);
}

#project-container #overlay {
    position: absolute;
    height: calc(100% + 10px);
    width: calc(100% + 1px);
    z-index: 2;
    background: -moz-linear-gradient(-45deg, #333333 0%, #222222 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #333333 0%, #222222 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #333333 0%, #222222 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    opacity: .85;
}

#project-container #content {
    text-align: center;
    position: relative;
    z-index: 3;
}

#project-container #content h2 {
    font-size: 1.3em;
    margin: 35px 0 0 0;
    font-weight: 600;
}

#project-container #content h3 {
    margin: 7px 0 15px 0;
    font-size: 0.9em;
    opacity: .4;
}

#project-container #content input {
    width: 100%;
    height: 2px;
    margin: 0 0 15px 0;
    background: -moz-linear-gradient(left, #3498db 0%, #9b59b6 72%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #3498db 0%, #9b59b6 72%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #3498db 0%, #9b59b6 72%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#project-container #content input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 8px;
    width: 8px;
    border-radius: 10px;
    background: #ffffff;
    cursor: pointer;
}

#project-container #content #controls {
    height: 50px;
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#project-container #content #controls .button {
    float: left;
}

#project-container #content #controls .button:nth-child(even) {
    font-size: 1.3em;
}

#project-container #content #controls .button:nth-child(n+2):nth-child(-n+4) {
    color: white !important;
}

#project-container #content #controls .button:nth-child(6) {
    color: white !important;
}

#project-container #content #controls .button:nth-child(3) {
    font-size: 2em;
}

#project-container #content #controls .button.active {
    color: #9b59b6;
}

#project-container #content #controls .button i {
    margin: 0 15px;
    cursor: pointer;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
}

.time > * {
    margin: 0 0.5em;
}

ul {
    list-style: none;
}

#plwrap {
    margin:0 auto;
    position:relative;
}

#plList li {
    cursor:pointer;
    display:block;
    margin:0;
    padding:21px 0;
}

#plList li:hover {
    background-color:rgba(0,0,0,.1);
}



.plTitle {
    left:50px;
    overflow:hidden;
    right:65px;
    text-overflow:ellipsis;
    top:0;
    white-space:nowrap;
}

.plSel,
.plSel:hover {
    background-color:rgba(0,0,0,.1);
    color:#4f1408;
    cursor:default !important;
}
